<div class="item column">
	<div class="top column">
		<div class="relative">
			<include id="selfie" key="professional/{{attr.image-src}}" alt="{{attr.image-alt}}" src="professional/{{attr.image-src}}"></include>
			<include class="blurred image-contain {{attr.blur-level}}" alt="{{attr.image-alt}} - blurred background layer" key="professional/blurred-{{attr.image-src}}" src="professional/{{attr.image-src}}"></include>
		</div>
	</div>
	<div class="bottom column">
		<div class="accent"><span style="color: {{attr.color}}">{{attr.job-title}}</span> {{attr.job-duration}}</div>
		<h3 class="title title-regular">{{attr.company}}</h3>
		<p class="description description-regular">
			{{attr.description}}
		</p>
		<? if(attr.link != undefined){ ?><a href="{{attr.link}}" class="link" style="color: {{attr.link-color}}; background: {{attr.color}}">Website Link</a><? } ?>
	</div>
</div>