#darkContent {
	transition: opacity 0.3s ease;
	transition-delay: 0.3s;
}

#professional {
	padding-bottom: 80px;
	max-width: 936px;
	margin-right: auto;
	margin-left: auto;

	.title,
	.description,
	.accent {
		color: #fff;
	}

	.content {
		> .title {
			margin-top: 96px;
			margin-bottom: 16px;
			text-align: center;
		}

		.item {
			margin-bottom: 48px;

			.title {
				margin: 4px 0 8px 0;
				letter-spacing: 0.02em;
			}
			.top {
				align-items: center;
				.relative {
					max-width: 360px;
					border: 1px solid #ffffff22;
					border-radius: 16px;
					margin-bottom: 32px;
				}
			}
			.bottom {
				max-width: 640px;
				align-items: start;
			}

			.link {
				color: #000;
				background: #fff;
				padding: 8px 16px;
				border-radius: 4px;
				margin-top: 32px;
			}
		}
		.item:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: 560px) {
		.content > .title {
			margin-bottom: 32px;
		}

		.content {
			.item {
				flex-direction: row;
				margin-bottom: 16px;

				.top {
					.relative {
						width: clamp(160px, 29vw, 280px);
						border: none;
						border-radius: 0;
						margin-bottom: 0;
					}
					margin-right: 16px;
				}
				.bottom {
					flex: 1;
				}
			}
		}
	}
}
